[submodule "util/YALMIP"]
	path = util/YALMIP
	url = https://github.com/yalmip/YALMIP.git
[submodule "util/sedumi"]
	path = util/sedumi
	url = https://github.com/sqlp/sedumi.git
[submodule "results/seds"]
	path = results/seds
	url = https://bitbucket.org/khansari/seds.git
